body {
  margin: 0;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #2b2b52;
}
.brand__name {
  font-family: "Dancing Script", cursive !important;
  font-size: 30px;
}
.nav-item {
  font-size: 22px;
}
.dropdown-menu {
  margin-left: 750px;
}
#particles-js {
  opacity: 1;
  position: relative;
  height: 90vh;
}
.my-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.form-label {
  font-size: 20px;
}

/* loader */

#loader-outer {
  overflow: hidden;
  position: relative;
  background-color: #2b2b52;
  height: 100vh;
  width: 100vw;
}

#loader {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  padding: 0px;
}
#loader span {
  vertical-align: middle;
  border-radius: 100%;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 2px;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}
#loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  /* background: rgba(245, 103, 115, 0.6); */
  background: #fff;
}
#loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #fff;
}
#loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: #fff;
}
#loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #fff;
}
#loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: #fff;
}

@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@media (max-width: 500px) {
  .dropdown-menu {
    margin-left: 0;
  }
}
