body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.brand__name {
  font-family: "Dancing Script", cursive !important;
  font-size: 30px;
}

.nav-item {
  font-size: 22px;
}
.dropdown-menu {
  margin-left: 750px;
}

.carousel-img {
  background-size: cover;
  height: 70vh;
  opacity: 0.5;
}

.carousel-bar {
  color: blue;
}

.carousel-text-box {
  margin-bottom: 150px;
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.img-card {
  background-size: cover;
  height: 300px;
  width: auto;
}

.container-books {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.card-books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.aos-img {
  width: 300px;
  margin: 0px auto;
}

.card-books h3 {
  margin-bottom: 2rem;
}

.card-books img {
  height: 400px;
}

.card-books > div {
  padding: 2rem;
}

.card-books:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .card-books {
    display: block;
    padding-left: 60px;
  }
}

@media (max-width: 500px) {
  .dropdown-menu {
    margin-left: 0px;
  }
}
