body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.brand__name {
  font-family: "Dancing Script", cursive !important;
  font-size: 30px;
}

.nav-item {
  font-size: 22px;
}
.dropdown-menu {
  margin-left: 750px;
}

.carousel-img {
  background-size: cover;
  height: 70vh;
  opacity: 0.5;
}

.carousel-bar {
  color: blue;
}

.carousel-text-box {
  margin-bottom: 150px;
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.img-card {
  background-size: cover;
  height: 300px;
  width: auto;
}

.container-books {
  max-width: 780px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.card-books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.aos-img {
  width: 300px;
  padding: 2rem;
}

.card-books h3 {
  margin-bottom: 2rem;
}

.card-books img {
  height: 400px;
}

.card-books > div {
  padding: 2rem;
}

.card-books:nth-child(even) img {
  order: 2;
}

/* parallax */

.div-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 70vh;
}

.h2-parallax {
  font-size: 60px;
  background-color: rgba(238, 238, 238, 0.445);
  padding: 8px 24px;
  border-radius: 24px;
}

.div-parallax:nth-child(1) {
  background-image: url(../img/book-and-cf.jpg);
  background-position: center;
  background-size: cover;
}

.div-parallax:nth-child(2) {
  background-color: maroon;
  background-position: center;
  background-size: cover;
}

.div-parallax:nth-child(3) {
  height: 400px;
  background-image: url(../img/book-with-coffee.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.div-parallax:nth-child(4) {
  background-color: #2b2b52;
}

@media (max-width: 600px) {
  .card-books {
    display: block;
    padding-left: 0px;
  }
  .aos-img {
    width: 300px;
    margin-left: 10px;
  }
  .carousel-img {
    background-size: cover;
    height: 50vh;
    opacity: 0.5;
  }
}

@media (max-width: 500px) {
  .dropdown-menu {
    margin-left: 0px;
  }
}
