body {
  font-family: "Noto Sans JP", sans-serif;

  box-sizing: border-box;
}

.brand__name {
  font-family: "Dancing Script", cursive !important;
  font-size: 30px;
}

.nav-item {
  font-size: 22px;
}

.carousel-img {
  background-size: cover;
  height: 70vh;
  opacity: 0.5;
}

.carousel-bar {
  color: blue;
}

.carousel-text-box {
  margin-bottom: 200px;
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.img-card {
  background-size: cover;
  height: 300px;
  width: auto;
}
