body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
.brand__name {
  font-family: "Dancing Script", cursive !important;
  font-size: 30px;
}
.nav-item {
  font-size: 22px;
}
.dropdown-menu {
  margin-left: 750px;
}
.carousel-img {
  background-size: cover;
  height: 70vh;
  opacity: 0.5;
}
.carousel-bar {
  color: #00f;
}
.carousel-text-box {
  margin-bottom: 150px;
  color: #000;
  font-size: 40px;
  font-weight: 400;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.img-card {
  background-size: cover;
  height: 300px;
  width: auto;
}
.container-books {
  max-width: 780px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
.card-books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}
.aos-img {
  width: 300px;
  padding: 2rem;
}
.card-books h3 {
  margin-bottom: 2rem;
}
.card-books img {
  height: 400px;
}
.card-books > div {
  padding: 2rem;
}
.card-books:nth-child(even) img {
  order: 2;
}
.div-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 100%;
  height: 70vh;
}
.h2-parallax {
  font-size: 60px;
  background-color: rgba(238, 238, 238, 0.445);
  padding: 8px 24px;
  border-radius: 24px;
}
.div-parallax:nth-child(1) {
  background-image: url(../img/book-and-cf.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.div-parallax:nth-child(2) {
  background-color: maroon;
  background-position: center;
  background-size: cover;
}
.div-parallax:nth-child(3) {
  height: 400px;
  background-image: url(../img/book-with-coffee.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.div-parallax:nth-child(4) {
  background-color: #2b2b52;
}
.footer {
  background-color: #2b2b52;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer-div-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 40px;
}
.footer-div-2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000;
  font-size: 20px;
  padding: 40px;
}
.footer-div-4 {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
}
.footer-signup-btn,
.footer-signup-btn:active,
.footer-signup-btn:link {
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  padding: 10px;
}
.footer-signup-btn:active:hover,
.footer-signup-btn:hover,
.footer-signup-btn:link:hover {
  background-color: #00f;
  color: #fff;
}

.first-name-brand {
  color: yellowgreen;
}

.footer-div-1-sub-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  margin-left: -30px;
}

.footer-div-1-sub-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.footer-div-1-sub-2 li {
  padding: 3px;
  font-size: 15px;
  cursor: pointer;
}

.footer-div-1-sub-3 {
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.start-pri-pol {
  font-size: 15px;
  padding-left: 20px;
  margin-top: 50px;
}

.privacy-policy,
.privacy-policy:link,
.privacy-policy:active {
  color: #fff;
  text-decoration: none;
}
.privacy-policy:hover,
.privacy-policy:link:hover,
.privacy-policy:active:hover {
  color: darkgrey;
  text-decoration: none;
}

@media (max-width: 600px) {
  .card-books {
    display: block;
    padding-left: 0;
  }
  .aos-img {
    width: 300px;
    margin-left: 10px;
  }
  .carousel-img {
    background-size: cover;
    height: 50vh;
    opacity: 0.5;
  }
  .footer-div-4 {
    font-size: 10px;
  }

  .footer-div-1-sub-1 {
    font-size: 13px;
  }
  .footer-div-2 {
    padding: 20px;
  }
  .footer-div-2-sub-1 {
    font-size: 10px;
  }
  .footer-div-2-sub-2 {
    font-size: 10px;
  }
  .footer-div-1-sub-2 {
    font-size: 10px;
    margin-left: 10px;
  }

  .footer-div-1-sub-3 {
    font-size: 10px;
    margin-right: -20px;
  }

  .footer-div-1-sub-2 h2 {
    font-size: 20px;
    margin-left: 10px;
  }
  .footer-div-1-sub-3 h2 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .dropdown-menu {
    margin-left: 0;
  }
}
